# File for removing tracking 

# Remove the build directory
build/*
*/build/*

# Remove VS Code file
.vscode/*
.vs/*

# Remove the bin directory
bin/*
*/bin/*

# Ignore everything in irrKlang except the license
!External/irrKlang
External/irrKlang/*
!External/irrKlang/irrKlang_License.txt