[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/glad"]
	path = External/glad
	url = https://github.com/Dav1dde/glad.git
